.vagrant/machines/sisinit/virtualbox/action_provision
.vagrant/machines/sisinit/virtualbox/action_set_name
.vagrant/machines/sisinit/virtualbox/creator_uid
.vagrant/machines/sisinit/virtualbox/id
.vagrant/machines/sisinit/virtualbox/index_uuid
.vagrant/machines/sisinit/virtualbox/private_key
.vagrant/machines/sisinit/virtualbox/synced_folders
.vagrant/machines/sisinit/virtualbox/vagrant_cwd
.vagrant/machines/sisinit/virtualbox/box_meta
